@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
    /*## Colors
    ### Primary*/
    --primary-first: hsl(185, 75%, 39%);
    --primary-second: hsl(229, 23%, 23%);
    --primary-thirt: hsl(227, 10%, 46%);
    /*### Neutral*/
    --neutral: hsl(0, 0%, 59%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Kumbh Sans", sans-serif;
}

body {
    background: url(./images/bg-pattern-top.svg) no-repeat right 50vw bottom 40vh,
        url(./images/bg-pattern-bottom.svg) no-repeat left 50vw top 54vh;

    background-color: var(--primary-first);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 2.4rem;
    border-radius: 2rem;
    background-color: white;
    height: 37.5rem;
}

.card-image>img {
    border-radius: 2rem 2rem 0 0;
}

.card-text {
    position: relative;
    top: -5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.card-text-profile>img {
    border-radius: 10rem;
    border: 0.5rem solid white;
}

.card-text-title {
    font-size: 1.9rem;
    color: var(--primary-second);
    font-weight: 700;
}

.card-text-title>span {
    color: var(--primary-first);
    font-weight: 400;
}

.card-text-description {
    font-size: 1.4rem;
    color: var(--primary-first);
}

hr {
    width: 100%;

    border: 0.1rem solid whitesmoke;
}

.card-text-data {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding-bottom: 1rem;
}

.card-text-data-number {
    display: flex;
    flex-direction: column;
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--primary-second);
    text-align: center;
}

.card-text-data-text {
    color: var(--neutral);
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
    text-align: center;
}